
$overpass: "Overpass", sans-serif;
$overpassMono: "Overpass Mono", monospace;
$ubuntu: "Ubuntu", sans-serif;



body {
    background-color: #FAFAFA;
}

@mixin button-gen {
    width: 138px;
    height: 48px;
    border-radius: 28px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    font-family: $overpass;
    cursor: pointer;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

.header {
    border-radius: 0px 0px 0px 100px;
    background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
    height: 600px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .arrow-svg {
        fill: #FF7B86;
        transition: all 0.2s;
    }

    .navigation {
        z-index: 2;
        display: flex;
        justify-content: space-between;
        padding: 56px 24px 0px 24px;
        box-sizing: border-box;

        .navigation-ul {
            position: fixed;
            background-color: #FFF;
            width: calc(100% - 48px);
            height: 511px;
            top: 125px;
            transform: translateX(calc(100% + 24px));
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
            border-radius: 5px;
            text-align: center;
            padding: 32px 24px;
            box-sizing: border-box;
            @include flex-column();
            justify-content: space-between;

            a {
                font-size: 18px;
                font-weight: 600;
                font-family: $overpass;
                color: #1F3E5A;
            }

            .navigation-ul--li--div {
                @include flex-column();
                gap: 24px;
            }

            .dropdown-ul {
                margin-top: 24px;
                padding: 17px 0px 25px 0px;
                border-radius: 5px;
                background-color: rgba(45, 46, 64, 0.1);

                li {
                    margin-top: 12px;

                    a {
                        font-size: 16px;
                        font-weight: 600;
                        color: #1F3E5A;
                        opacity: 0.75;
                    }

                    &:first-child {
                        margin: 0px;
                    }
                }
            }

            .login-signup {
                @include flex-column();
                align-items: center;
                border-top: 1px solid #E8E4E4;
                padding-top: 24px;
                box-sizing: border-box;

                button {
                    @include button-gen();

                    &:last-child {
                        background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
                        color: #FFF;
                    }
                }
            }

        }

        .open-close {
            
            align-items: center;

            button {
                background: none;
                border: none;
                cursor: pointer;
                padding: 0px;
            }
        }

    }


    main {
        text-align: center;
        margin-top: 108px;
        color: #FFF;
        padding: 0px 24px;
        box-sizing: border-box;

        h1 {
            font-family: $overpass;
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 8px;

            span {
                display: block;
            }
        }

        .slogan {
            font-family: $overpassMono;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: -1.5px;
        }

        .learn-start {
            margin-top: 38px;

            button {
                @include button-gen;

                &:first-child {
                    color: #FF505C;
                    background-color: #FFF;
                }
                
                &:last-child {
                    border: 1px solid #FFF;
                    color: #FFF;
                }
            }
        }

    }

    .header-background {
        width: 300%;
        position: absolute;
        top: 0;
        z-index: -1;
        top: -35%;
        left: -65%;
    }


}


.open-navigation {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.close-navigation {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


@keyframes moveInLeft {
    from {
        transform: translateX(calc(100% + 24px));
    } to {
        transform: translateX(0px);
    }
}

@keyframes moveInRight {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX(calc(100% + 24px));
    }
}




.section-paragraph {

    padding: 100px 24px 0px 24px;
    box-sizing: border-box;
    text-align: center;

    .section-image {
        width: 100%;
        height: 326px;
        background-position: center;
        background-size: cover;        
        margin-bottom: 46px;
    }

    .articles {
        @include flex-column();
        gap: 40px;

        h3 {
            font-family: $overpass;
            font-size: 28px;
            font-weight: 600;
            color: #1F3E5A;
            margin-bottom: 16px;
    
            span {
                display: block;
            }
        }
    
        p {
            font-family: $overpassMono;
            font-size: 16px;
            font-weight: 400;
            color: #1F3E5A;
            letter-spacing: -1.5px;
            line-height: 20px ;
        }
    }

}



////// section--1  //////////


.section--1 {

    h2 {
        font-family: $overpass;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 38px;
    }

    .editor {
        background-image: url(./images/illustration-editor-mobile.svg);
    }

}


////// section--2  //////////


.section--2 {
    padding-top: 273px;
    box-sizing: border-box;
    text-align: center;
    position: relative;


    .background-section--2 {
        width: 100%;
        height: 625px;
        border-radius: 0px 100px;
        background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
        position: relative;
        overflow: hidden;
        
        img {
            width: 150%;
            position: absolute;
            left: -25%;
            top: -200px;
        }
    }

    .phones-svg {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 452px;
    }

    article {
        position: absolute;
        bottom: 100px;
        color: #fff;
        padding: 0px 24px;
        box-sizing: border-box;

        h2 {
            font-family: $overpass;
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 38px;
            line-height: 50px;
        }

        p {
            font-family: $overpassMono;
            font-size: 16px;
            font-weight: 400;
            color: #fff;
            letter-spacing: -1.5px;
            line-height: 27px ;
        }
    }

}

////// section--3  //////////


.section--3 {

    .laptop {
        background-image: url(./images/illustration-laptop-mobile.svg);
    }
}







.display-none {
    display: none;
}

.rotate {
    transform: rotate(180deg);
} 









/////////////////////////////////////////////////////////
/// ////////////////////////////////////////////////
/// ///////////////////////////////////////////////////
/// //////////////////////////////////////////////////
/// /////////////////////////////////////////////////
/// 
/// 


@media only screen and (min-width: 1024px) {

    .header {
    
        .arrow-svg {
            fill: #FFF;
            transition: all 0.2s;
        }
    
        .navigation {
            max-width: 1115px;
            margin: auto;
    
            .navigation-ul {
                position: static;
                background: none;
                width: 100%;
                height: auto;
                transform: translateX(0px);
                box-shadow: none;
                padding: 0px;
                padding-left: 64px;
                @include flex-row();
                justify-content: space-between;
                align-items: center;
    
                a {
                    font-size: 16px;
                    font-weight: 700;
                    color: #FFF;
                }
    
                .navigation-ul--li--div {
                    @include flex-row(); 
                    gap: 32px;
                }

                .navigation-ul--li {
                    position: relative;

                    &:hover .dropdown-ul {
                        display: block;
                    }
                }
    
                .dropdown-ul {
                    margin-top: 24px;
                    padding: 24px;
                    background-color: #fff;
                    text-align: left;
                    position: absolute;

    
                    li {
                        margin-top: 12px;
    
                        a {
                            font-size: 16px;
                            font-weight: 600;
                            color: #1F3E5A;
                            opacity: 0.75;
                        }
    
                        &:first-child {
                            margin: 0px;
                        }
                    }
                }
    
                .login-signup {
                    @include flex-row();
                    border: none;
                    padding-top: 0px;
                    box-sizing: border-box;
                    background: none;
    
                    button {
                        @include button-gen();
                        color: #FFF;
    
                        &:last-child {
                            background: #FFF;
                            color: #FF505C;

                            &:hover {
                                background: #FF7B86;
                                color: #FFF;
                            }
                        }
                    }
                }
    
            }
    
            .open-close {
                display: none;
            }
    
        }
    
    
        main {
            margin-top: 132px;
            padding: 0px 24px;
            box-sizing: border-box;
    
            h1 {
                font-size: 64px;
                margin-bottom: 8px;
    
                span {
                    display: inline;
                }
            }
    
            .slogan {
                font-size: 20px;
            }
    
        }
    
        .header-background {
            width: 150%;
            position: absolute;
            top: 0;
            z-index: -1;
            top: -80%;
            left: 5%;
        }
    
    
    }


    ////// section--1  //////////


    .section--1 {
    padding: 150px 0px 150px 0px;
    position: relative;
    overflow: hidden;
     
    h2 {
        font-family: $overpass;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 93px;
    }

    .section-article-img {
        @include flex-row();
        
        .editor {
            order: 2;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(30%, -50%);

            width: 585px;
            height: 582px;
            background-image: url(./images/illustration-editor-desktop.svg);
    
            margin-bottom: 46px;
        }

        
    .articles {
        width: 50%;
        padding-left: 24px;
        box-sizing: border-box;
        text-align: left;

            h3 {
                font-family: $overpass;
                font-size: 28px;
                font-weight: 600;
                color: #1F3E5A;
                margin-bottom: 16px;
        
                span {
                    display: block;
                }
            }
    
        p {
            font-family: $overpassMono;
            font-size: 16px;
            font-weight: 400;
            color: #1F3E5A;
            letter-spacing: -1.5px;
            line-height: 20px ;
        }
    }
    }


    }
        
    ////// section--2  ////////// 

    .section--2 {
        padding-top: 50px;

        .background-section--2 {
            height: 400px;

            img {
                width: 70%;
                left: -15%;
                top: -80%;
            }
        }

        .phones-svg {
            width: 472px;
            left: 3%;
            bottom: -10%;
        }

        article {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
            text-align: left;
            right: 0px;
            width: 50%;

            h2 {
                margin-bottom: 8px;
            }
        }

    }



    .section--3 {
        @include flex-row();
        margin-top: 50px;
    }


    .section-paragraph {
        padding: 150px 0px 150px 0px;
        position: relative;
        overflow: hidden;
        
        .section-image {
            order: 2;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(30%, -50%);

            width: 585px;
            height: 582px;
            background-image: url(./images/illustration-editor-desktop.svg);
    
            margin-bottom: 46px;
        }

        .articles {
            width: 50%;
            padding-left: 24px;
            box-sizing: border-box;
            text-align: left;
    
                h3 {
                    font-family: $overpass;
                    font-size: 28px;
                    font-weight: 600;
                    color: #1F3E5A;
                    margin-bottom: 16px;
            
                    span {
                        display: block;
                    }
                }
        
            p {
                font-family: $overpassMono;
                font-size: 16px;
                font-weight: 400;
                color: #1F3E5A;
                letter-spacing: -1.5px;
                line-height: 20px ;
            }
        }
        

    }

    ////// section--3  ////////// 

    // .section--3 {
    //     padding: 150px 0px 150px 0px;
    //     position: relative;
    //     // overflow: hidden;
    //     @include flex-row();
    //     align-items: center;
    //     // background-color: red;

    //     .img {
    //         width: 50%;
    //         height: 700px;
    //         order: 2;
    //         // background-color: #3F4164;
    //         position: relative;
    //     }

    //     .laptop {
    //         order: 2;
    //         position: absolute;
    //         right: 0;
    //         top: 50%;
    //         transform: translate(30%, -50%);

    //         width: 585px;
    //         height: 582px;
    //         background-image: url(./images/illustration-editor-desktop.svg);
    
    //         margin-bottom: 46px;
    //     }

    //     .articles {
    //         width: 50%;
    //         padding-left: 24px;
    //         box-sizing: border-box;
    //         text-align: left;
    
    //         h3 {
    //             font-family: $overpass;
    //             font-size: 28px;
    //             font-weight: 600;
    //             color: #1F3E5A;
    //             margin-bottom: 16px;
        
    //             span {
    //                 display: block;
    //             }
    //         }
        
    //         p {
    //             font-family: $overpassMono;
    //             font-size: 16px;
    //             font-weight: 400;
    //             color: #1F3E5A;
    //             letter-spacing: -1.5px;
    //             line-height: 20px ;
    //         }
    //     }
    // }

    

    .close-navigation {
        animation-name: as;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    
}


