body {
  background-color: #FAFAFA; }

.header {
  border-radius: 0px 0px 0px 100px;
  background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
  height: 600px;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .header .arrow-svg {
    fill: #FF7B86;
    transition: all 0.2s; }
  .header .navigation {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 56px 24px 0px 24px;
    box-sizing: border-box; }
    .header .navigation .navigation-ul {
      position: fixed;
      background-color: #FFF;
      width: calc(100% - 48px);
      height: 511px;
      top: 125px;
      transform: translateX(calc(100% + 24px));
      box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.24);
      border-radius: 5px;
      text-align: center;
      padding: 32px 24px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .header .navigation .navigation-ul a {
        font-size: 18px;
        font-weight: 600;
        font-family: "Overpass", sans-serif;
        color: #1F3E5A; }
      .header .navigation .navigation-ul .navigation-ul--li--div {
        display: flex;
        flex-direction: column;
        gap: 24px; }
      .header .navigation .navigation-ul .dropdown-ul {
        margin-top: 24px;
        padding: 17px 0px 25px 0px;
        border-radius: 5px;
        background-color: rgba(45, 46, 64, 0.1); }
        .header .navigation .navigation-ul .dropdown-ul li {
          margin-top: 12px; }
          .header .navigation .navigation-ul .dropdown-ul li a {
            font-size: 16px;
            font-weight: 600;
            color: #1F3E5A;
            opacity: 0.75; }
          .header .navigation .navigation-ul .dropdown-ul li:first-child {
            margin: 0px; }
      .header .navigation .navigation-ul .login-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #E8E4E4;
        padding-top: 24px;
        box-sizing: border-box; }
        .header .navigation .navigation-ul .login-signup button {
          width: 138px;
          height: 48px;
          border-radius: 28px;
          background: none;
          border: none;
          font-size: 16px;
          font-weight: 700;
          font-family: "Overpass", sans-serif;
          cursor: pointer;
          transition: all 0.5s; }
          .header .navigation .navigation-ul .login-signup button:last-child {
            background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
            color: #FFF; }
    .header .navigation .open-close {
      align-items: center; }
      .header .navigation .open-close button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0px; }
  .header main {
    text-align: center;
    margin-top: 108px;
    color: #FFF;
    padding: 0px 24px;
    box-sizing: border-box; }
    .header main h1 {
      font-family: "Overpass", sans-serif;
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 8px; }
      .header main h1 span {
        display: block; }
    .header main .slogan {
      font-family: "Overpass Mono", monospace;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -1.5px; }
    .header main .learn-start {
      margin-top: 38px; }
      .header main .learn-start button {
        width: 138px;
        height: 48px;
        border-radius: 28px;
        background: none;
        border: none;
        font-size: 16px;
        font-weight: 700;
        font-family: "Overpass", sans-serif;
        cursor: pointer;
        transition: all 0.5s; }
        .header main .learn-start button:first-child {
          color: #FF505C;
          background-color: #FFF; }
          .header main .learn-start button:first-child:hover {
            background-color: #FF7B86;
            color: #FFF; }
        .header main .learn-start button:last-child {
          border: 1px solid #FFF;
          color: #FFF; }
          .header main .learn-start button:last-child:hover {
            background-color: #fff;
            color: #FF7B86; }
  .header .header-background {
    width: 300%;
    position: absolute;
    top: 0;
    z-index: -1;
    top: -35%;
    left: -65%; }

.open-navigation {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

.close-navigation {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes moveInLeft {
  from {
    transform: translateX(calc(100% + 24px)); }
  to {
    transform: translateX(0px); } }

@keyframes moveInRight {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(calc(100% + 24px)); } }

.section-paragraph {
  padding: 100px 24px 0px 24px;
  box-sizing: border-box;
  text-align: center; }
  .section-paragraph .section-image {
    width: 100%;
    height: 326px;
    background-position: center;
    background-size: cover;
    margin-bottom: 46px; }
  .section-paragraph .articles {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .section-paragraph .articles h3 {
      font-family: "Overpass", sans-serif;
      font-size: 28px;
      font-weight: 600;
      color: #1F3E5A;
      margin-bottom: 16px; }
      .section-paragraph .articles h3 span {
        display: block; }
    .section-paragraph .articles p {
      font-family: "Overpass Mono", monospace;
      font-size: 16px;
      font-weight: 400;
      color: #1F3E5A;
      letter-spacing: -1.5px;
      line-height: 20px; }

.section--1 h2 {
  font-family: "Overpass", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 38px; }

.section--1 .editor {
  background-image: url(./images/illustration-editor-mobile.svg); }

.section--2 {
  padding-top: 273px;
  box-sizing: border-box;
  text-align: center;
  position: relative; }
  .section--2 .background-section--2 {
    width: 100%;
    height: 625px;
    border-radius: 0px 100px;
    background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
    position: relative;
    overflow: hidden; }
    .section--2 .background-section--2 img {
      width: 150%;
      position: absolute;
      left: -25%;
      top: -200px; }
  .section--2 .phones-svg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 452px; }
  .section--2 article {
    position: absolute;
    bottom: 100px;
    color: #fff;
    padding: 0px 24px;
    box-sizing: border-box; }
    .section--2 article h2 {
      font-family: "Overpass", sans-serif;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 38px;
      line-height: 50px; }
    .section--2 article p {
      font-family: "Overpass Mono", monospace;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      letter-spacing: -1.5px;
      line-height: 27px; }

.section--3 .laptop {
  background-image: url(./images/illustration-laptop-mobile.svg); }

.footer {
  border-radius: 0px 100px 0px 0px;
  background: #24242C;
  text-align: center;
  padding: 75px 0px;
  box-sizing: border-box;
  margin-top: 100px; }
  .footer .footer-logo {
    margin-bottom: 72px; }
  .footer ul {
    margin-bottom: 40px; }
    .footer ul:last-child {
      margin: 0px; }
    .footer ul a {
      font-family: "Ubuntu", sans-serif;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 400; }
    .footer ul li {
      margin-bottom: 10px; }
      .footer ul li:first-child {
        margin: 0px;
        margin-bottom: 20px; }
        .footer ul li:first-child a {
          color: #fff;
          font-weight: 600; }

.display-none {
  display: none; }

.rotate {
  transform: rotate(180deg); }

@media only screen and (min-width: 1024px) {
  .header .arrow-svg {
    fill: #FFF;
    transition: all 0.2s; }
  .header .navigation {
    max-width: 1115px;
    margin: auto; }
    .header .navigation .navigation-ul {
      position: static;
      background: none;
      width: 100%;
      height: auto;
      transform: translateX(0px);
      box-shadow: none;
      padding: 0px;
      padding-left: 64px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .header .navigation .navigation-ul a {
        font-size: 16px;
        font-weight: 700;
        color: #FFF; }
      .header .navigation .navigation-ul .navigation-ul--li--div {
        display: flex;
        flex-direction: row;
        gap: 32px; }
      .header .navigation .navigation-ul .navigation-ul--li {
        position: relative; }
        .header .navigation .navigation-ul .navigation-ul--li:hover .dropdown-ul {
          display: block; }
      .header .navigation .navigation-ul .dropdown-ul {
        margin-top: 24px;
        padding: 24px;
        background-color: #fff;
        text-align: left;
        position: absolute; }
        .header .navigation .navigation-ul .dropdown-ul li {
          margin-top: 12px; }
          .header .navigation .navigation-ul .dropdown-ul li a {
            font-size: 16px;
            font-weight: 600;
            color: #1F3E5A;
            opacity: 0.75; }
          .header .navigation .navigation-ul .dropdown-ul li:first-child {
            margin: 0px; }
      .header .navigation .navigation-ul .login-signup {
        display: flex;
        flex-direction: row;
        border: none;
        padding-top: 0px;
        box-sizing: border-box;
        background: none; }
        .header .navigation .navigation-ul .login-signup button {
          width: 138px;
          height: 48px;
          border-radius: 28px;
          background: none;
          border: none;
          font-size: 16px;
          font-weight: 700;
          font-family: "Overpass", sans-serif;
          cursor: pointer;
          transition: all 0.5s;
          color: #FFF; }
          .header .navigation .navigation-ul .login-signup button:last-child {
            background: #FFF;
            color: #FF505C; }
            .header .navigation .navigation-ul .login-signup button:last-child:hover {
              background: #FF7B86;
              color: #FFF; }
    .header .navigation .open-close {
      display: none; }
  .header main {
    margin-top: 132px;
    padding: 0px 24px;
    box-sizing: border-box; }
    .header main h1 {
      font-size: 64px;
      margin-bottom: 8px; }
      .header main h1 span {
        display: inline; }
    .header main .slogan {
      font-size: 20px; }
  .header .header-background {
    width: 150%;
    position: absolute;
    top: 0;
    z-index: -1;
    top: -80%;
    left: 5%; }
  .section--1 {
    padding: 150px 0px 150px 0px;
    position: relative;
    overflow: hidden; }
    .section--1 h2 {
      font-family: "Overpass", sans-serif;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 93px; }
    .section--1 .section-article-img {
      display: flex;
      flex-direction: row; }
      .section--1 .section-article-img .editor {
        order: 2;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(30%, -50%);
        width: 585px;
        height: 582px;
        background-image: url(./images/illustration-editor-desktop.svg);
        margin-bottom: 46px; }
      .section--1 .section-article-img .articles {
        width: 50%;
        padding-left: 24px;
        box-sizing: border-box;
        text-align: left; }
        .section--1 .section-article-img .articles h3 {
          font-family: "Overpass", sans-serif;
          font-size: 28px;
          font-weight: 600;
          color: #1F3E5A;
          margin-bottom: 16px; }
          .section--1 .section-article-img .articles h3 span {
            display: block; }
        .section--1 .section-article-img .articles p {
          font-family: "Overpass Mono", monospace;
          font-size: 16px;
          font-weight: 400;
          color: #1F3E5A;
          letter-spacing: -1.5px;
          line-height: 20px; }
  .section--2 {
    padding-top: 50px; }
    .section--2 .background-section--2 {
      height: 400px; }
      .section--2 .background-section--2 img {
        width: 70%;
        left: -15%;
        top: -80%; }
    .section--2 .phones-svg {
      width: 472px;
      left: 3%;
      bottom: -10%; }
    .section--2 article {
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      text-align: left;
      right: 0px;
      width: 50%; }
      .section--2 article h2 {
        margin-bottom: 8px; }
  .section--3 {
    display: flex;
    flex-direction: row;
    margin-top: 50px; }
  .section-paragraph {
    padding: 150px 0px 150px 0px;
    position: relative;
    overflow: hidden; }
    .section-paragraph .section-image {
      order: 2;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(30%, -50%);
      width: 585px;
      height: 582px;
      background-image: url(./images/illustration-editor-desktop.svg);
      margin-bottom: 46px; }
    .section-paragraph .articles {
      width: 50%;
      padding-left: 24px;
      box-sizing: border-box;
      text-align: left; }
      .section-paragraph .articles h3 {
        font-family: "Overpass", sans-serif;
        font-size: 28px;
        font-weight: 600;
        color: #1F3E5A;
        margin-bottom: 16px; }
        .section-paragraph .articles h3 span {
          display: block; }
      .section-paragraph .articles p {
        font-family: "Overpass Mono", monospace;
        font-size: 16px;
        font-weight: 400;
        color: #1F3E5A;
        letter-spacing: -1.5px;
        line-height: 20px; }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .footer .footer-logo {
      margin-bottom: 0px;
      width: 101px;
      height: 40px; }
    .footer ul {
      margin-bottom: 0px;
      text-align: left; }
  .close-navigation {
    animation-name: as;
    animation-duration: 1s;
    animation-fill-mode: forwards; } }

@media only screen and (min-width: 1440px) {
  .section--1 {
    margin-top: 150px;
    padding: 300px 0px; }
    .section--1 h2 {
      font-size: 40px;
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%); }
    .section--1 .section-article-img .editor {
      width: 880px;
      height: 882px; }
    .section--1 .section-article-img .articles {
      padding-left: 12%; }
      .section--1 .section-article-img .articles h3 span {
        display: inline; }
  .section--2 {
    margin-top: 50px;
    padding-top: 50px; }
    .section--2 .background-section--2 img {
      width: 70%;
      left: -20%;
      top: -125%; }
    .section--2 .phones-svg {
      width: 572px;
      left: 3%;
      bottom: -10%; }
    .section--2 article {
      padding-right: 13%; }
  .section--3 {
    padding: 250px 0px; }
    .section--3 .laptop {
      width: 685px;
      height: 682px; }
    .section--3 .articles {
      padding-left: 13%; }
  .footer {
    margin: 0px; } }
